        /*______________ELEMENT DE LA PAGE EN GENERAL_________*/
        
        body {
            -moz-user-select: none;
            /*pour que le texte ne sois pas selectionnable*/
            background-color: black;
            background-attachment: fixed;
            background-repeat: no-repeat;
            color: white;
            background-image: url(img/maez-remove-black.jpeg);
            background-size: 90%;
            background-position: -380px 300px;
            -webkit-user-select: none;
            /* Chrome, Safari, Opéra depuis la version 15 */
        }
        
        .barre_haut {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .barre2 {
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin-right: 0%;
        }
        
        .bouton a {
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
            text-align: center;
            font-family: 'Aclonica', sans-serif;
            //background-color: rgba(68, 66, 66, 0.2);
            border: 4px solid #f5b815;
            border-radius: 10px;
            text-shadow: 1px 2px 3px black;
            margin-left: 16%;
            padding: 1% 7% 1%;
        }
        
        .bouton a:hover {
            background-color: #f5b815;
        }
        
        @media screen and (max-width: 1024px) {
            td {
                display: block;
            }
            .barre2 {
                text-align: center;
            }
            .barre_haut {
                display: block;
            }
            .aventurier img {
                display: none;
            }
            .bouton {
                margin-bottom: 40rem;
            }
            body {
                background-position: bottom;
                background-size: 150%;
            }
            main {
                margin-left: -10%;
            }
            footer {
                position: relative;
                padding-bottom: 0%;
            }
            .groupe p {
                text-align: center;
                width: 80%;
                margin-bottom: 10%;
                height: 20%;
            }
        }
        
        .barre_haut a {
            text-decoration: none;
            color: white;
            font-family: 'KoHo', sans-serif;
        }
        
        footer {
            position: fixed;
            bottom: 0;
            width: 99%;
            padding-bottom: 0%;
            height: auto;
        }
        
        table {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            text-align: center;
            border: 2px solid none;
            border-collapse: collapse;
        }
        
        th,
        td {
            border: 1px solid none;
            color: white;
            padding: 2.5rem;
            font-family: 'KoHo', sans-serif;
            letter-spacing: 0.2rem;
        }
        
        .barre2:hover {
            color: #f5b815;
        }
        
        .bouton2 {
            font-size: 1.5rem;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 5px;
            padding-top: 5px;
            border: 3px solid #f5b815;
            border-radius: 10px;
            background-color: #f5b815;
            text-shadow: 1px 2px 3px black;
        }
        /*.bouton2:hover {
            transition: 1s;
            transform: scale(1.2);
        }*/
        
        .bouton10 a {
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
            text-align: center;
            font-family: 'Aclonica', sans-serif;
            //background-color: rgba(68, 66, 66, 0.2);
            border: 4px solid #f5b815;
            border-radius: 10px;
            text-shadow: 1px 2px 3px black;
            margin-left: 16%;
            padding: 1% 5.5% 1%;
        }
        
        .bouton10 a:hover {
            background-color: #f5b815;
        }
        
        .bouton1:hover a {
            color: #f5b815;
        }
        /*__________PAGE INDEX______________*/
        
        .aventurier {
            display: flex;
            margin-left: 61%;
            margin-top: -400px;
        }
        
        .aventurier img {
            height: 60%;
        }
        
        .groupe p {
            font-size: 0.7rem;
            color: #858585;
            text-align: right;
            font-family: 'KoHo', sans-serif;
            padding-bottom: 0%;
            /*text-shadow: 1px 2px 3px black;*/
        }
        
        .groupe a {
            text-decoration: none;
            color: #858585;
        }
        
        .titre {
            text-align: left;
            margin-top: 10%;
            margin-left: 16%;
        }
        
        .titre h1 {
            font-size: 2.5rem;
            text-shadow: 1px 2px 3px black;
            font-family: 'KoHo', sans-serif;
            padding: 0%;
            margin-bottom: 2%;
            letter-spacing: 0.15rem;
        }
        
        .titre h2 {
            font-size: 1.2rem;
            font-family: 'KoHo', sans-serif;
            margin-bottom: 5%;
            letter-spacing: 0.15rem;
        }
        
        .niveau a {
            font-size: 1.5rem;
            font-family: 'KoHo', sans-serif;
            color: white;
            text-decoration: none;
            margin-bottom: 5%;
            letter-spacing: 0.15rem;
            padding: 0.7%;
        }
        
        .niveau a:hover {
            color: #f5b815;
        }
        
        .niveau {
            margin-top: -16%;
            margin-left: 15%;
            margin-bottom: 2.5%;
        }
        /*_______GESTIONNAIRE DE CONTACT_______________*/
        
        .contact h1 {
            text-align: left;
            margin-left: 25%;
            font-size: 2.5rem;
            text-shadow: 1px 2px 3px black;
            font-family: 'KoHo', sans-serif;
            letter-spacing: 0.15rem;
        }
        
        fieldset {
            border-radius: 8px;
            border: 2px solid #747a7e;
            padding: 1.5%;
            margin-right: 25%;
            margin-left: 25%;
            resize: none;
        }
        
        legend {
            font-family: 'KoHo', sans-serif;
            font-size: 1.3rem;
            padding-left: 1%;
            padding-right: 1%;
        }
        
        .flexrow1 {
            margin-bottom: 1%;
            font-family: 'KoHo', sans-serif;
            padding-bottom: 2%;
            resize: none;
        }
        
        .flexrow2 {
            margin-top: -11%;
            margin-left: 55%;
            margin-bottom: 1%;
            font-family: 'KoHo', sans-serif;
            padding-bottom: 2%;
            resize: none;
        }
        
        .flexrow3 {
            margin-bottom: 1%;
            font-family: 'KoHo', sans-serif;
            resize: none;
        }
        
        input,
        textarea {
            border: 2px solid #CCC;
            border-radius: 5px;
            font-family: 'KoHo', sans-serif;
        }
        
        input[type="nom"],
        input[type="email"] {
            min-width: 30%;
            max-width: 100%;
            padding: 8px;
            display: block;
        }
        
        textarea[type="commentaire"] {
            padding: 8px;
            display: block;
        }
        
        button {
            cursor: pointer;
        }
        
        .btn {
            color: white;
            text-decoration: none;
            font-family: 'KoHo', sans-serif;
            text-shadow: 1px 2px 3px black;
            border-radius: 8px;
            padding: 2% 2%;
            font-size: 1rem;
            display: block;
            width: 60%;
            margin: 0 auto;
            border: 5px solid #f5b815;
            background-color: rgba(255, 255, 255, .0);
            margin-top: 8%;
        }
        
        .btn:hover {
            background-color: #f5b815;
        }
        /*_______________RULES________*/
        
        .regles {
            text-align: left;
            margin-top: 10%;
            margin-left: 16%;
        }
        
        .regles h1 {
            font-size: 2.5rem;
            text-shadow: 1px 2px 3px black;
            font-family: 'KoHo', sans-serif;
            padding: 0%;
            margin-bottom: 2%;
            letter-spacing: 0.15rem;
        }
        
        .regles h2 {
            font-size: 1.7rem;
            font-family: 'KoHo', sans-serif;
            margin-bottom: 5%;
            letter-spacing: 0.15rem;
        }
        
        .regles p {
            font-size: 1.1rem;
            font-family: 'KoHo', sans-serif;
            text-align: justify;
            margin-bottom: 5%;
            letter-spacing: 0.15rem;
            margin-right: 20%;
        }
        /*________________DONEES PERSONNELLES_____________*/
        
        .donnees {
            text-align: left;
            margin-top: 5%;
            margin-left: 10%;
            background-image: none;
        }
        
        .donnees h1 {
            font-size: 2.5rem;
            text-shadow: 1px 2px 3px black;
            font-family: 'KoHo', sans-serif;
            padding: 0%;
            margin-bottom: 2%;
            letter-spacing: 0.15rem;
        }
        
        .donnees h2 {
            font-size: 1.2rem;
            font-family: 'KoHo', sans-serif;
            margin-top: 3%;
            margin-bottom: 2%;
            letter-spacing: 0.15rem;
        }
        
        .donnees p {
            margin-right: 5%;
            font-family: 'KoHo', sans-serif;
            text-align: justify;
        }
        
        .donnees br {
            line-height: 1.8rem;
        }
        
        .donnees li {
            line-height: 1.8rem;
            font-family: 'KoHo', sans-serif;
        }
        
        .donnees strong {
            font-weight: 900;
        }